{%- if project_type == "base" -%}
{
  "mcpServers": {}
}
{%- else -%}
{
  "mcpServers": {
    "sap-adt-mcp": {
      "type": "http",
      "url": "http://127.0.0.1:8000/mcp"
    },
    {%- if enable_ecc_stack | default(false) %}
    "sap-adt-ecc": {
      "type": "http",
      "url": "http://127.0.0.1:8001/mcp"
    },
    {%- endif %}
    "sap-gui-mcp": {
      "type": "http",
      "url": "http://192.168.50.119:8001/mcp"
    }
  }
}
{%- endif %}
